:root {
    --white: #ffffff;
    --darkerGrey: #1e2124;
    --darkGrey: #282b30;
    --lightGrey: #36393e;
    --lighterGrey: #424549;
    --primary: var(--darkerGrey);
    --secondary: var(--darkGrey);
    --tertiary: var(--lightGrey);
    --font-color: #000000;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary);
}

header {
    width: 100%;
    background-color: var(--darkerGrey);
    padding: 20px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--lightGrey);
}

nav img.logo {
    margin-left: 20px;
    width: 100px;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: var(--secondary);
}

.card {
    background-color: var(--tertiary);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 16px;
    text-align: center;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.card h2 {
    font-size: 1.2em;
    color: #fff;
}

.card p {
    font-size: 1em;
    color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
